.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-basis: 358px;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-evenly;
}

.question div {
  max-width: 90%;
}

.question div h2 {
  text-align: center;
}
