@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-bg-color: #ededed;
  --color: #1d1d1d;
  --primary-color: #f5fbef;
  --btn-bg-color: #588b8b;
  --btn-bg-hover: #295757;
  --btn-opt-bg: #c2c8cf;
  --btn-opt-bg-hover: #93c2c4;
}

.dark {
  --body-bg-color: #2c2c2c;
  --color: #e8e8e8;
  --primary-color: #1e1e1e;
  --btn-bg-color: #588b8b;
  --btn-bg-hover: #295757;
  --btn-opt-bg: #4681f4;
  --btn-opt-bg-hover: #46c0f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", serif;
  background-color: var(--body-bg-color);
  color: var(--color);
  transition: 0.5s ease-in-out;
}

.app {
  max-width: 40vw;
  margin: 0 auto;
}

.btn {
  background-color: var(--btn-bg-color);
  border: none;
  color: rgb(255, 255, 255);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--btn-bg-hover);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn:disabled {
  background-color: rgb(27, 61, 57);
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* ---- Media Queries ---- */

@media (max-width: 1100px) {
  .app {
    max-width: 65vw;
  }
}
@media (max-width: 690px) {
  .app {
    max-width: 90vw;
  }
}
@media (max-width: 450px) {
  .footer {
    justify-content: space-around;
  }
  .app {
    max-width: 100vw;
  }
}
